body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.form-container {
    margin-bottom: 20px;
    /* background-color: aqua; */
}
.chart-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
}
button {
    margin: 5px;
}
.bar {
    width: 100px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    box-sizing: border-box;
}

.price-bar {
    background-color: rgba(75, 192, 192, 0.7);
}

.rating-bar {
    background-color: rgba(153, 102, 255, 0.7);
}

.bar-label {
    margin-top: 5px;
}